

body {
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono";
}

.input-bill {
    background-color: hsl(189, 41%, 97%);
    border-style: none;
    text-align: end;
    font-family: "Space Mono";
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
    justify-content: space-around;
    padding-right: 3%;
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 5% center;
    margin-left: 24px;
}

.input-people {
    background-color: hsl(189, 41%, 97%);
    border-style: none;
    text-align: end;
    font-family: "Space Mono";
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
    justify-content: space-around;
    padding-right: 3%;
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 5% center;
    margin-left: 24px;
}

.input-people:focus {
    outline: none;
    border: 3px solid hsl(172, 67%, 45%);
    border-radius: 5px;
}

.input-bill:focus {
    outline: none;
    border: 3px solid hsl(172, 67%, 45%);
    border-radius: 5px;
}


.tip-button:hover { 
    background-color: hsl(172, 45%, 64%);
    color: hsl(183, 100%, 15%);
    font-weight: bold;

}

.tip-button:active {
    background-color: hsl(172, 67%, 45%);

}

.tip-button:focus {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: bold;
}

.input-bill::placeholder {
    color: hsl(184, 14%, 56%);

}

.input-people::placeholder {
    color: hsl(184, 14%, 56%);

}



.left {
    width: 50%;
}

.box {
    background-color: white;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

/* Overall right side */
/* make the right box width auto and to fit to half of the box */
.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-radius: 25px;
    background-color: hsl(183, 100%, 15%);
    margin: 0 auto;
}

.right-titles {
    color: white;
    font-size: 15px;
    margin-top: 65%;
    margin-left: 70%;
    display: flex;
    flex-direction: row;
    width: auto;
    flex-wrap: nowrap;
    margin: -15%;
    padding: 0;
}

.per-person {
    color: hsl(184, 14%, 56%);
    font-size: 13px;
    margin-left: -15%;
}
/* align money to the right side*/

/* Tip amount */
.tip-amount {
    display: flex;
    flex-direction: row;

    
}

.tip-amount-title {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 15%;
}


/* Total amount */
.total {
    display: flex;
    flex-direction: row;
    margin-top: -18%;
    padding-top: 0;
}

.total-title {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 15%;
}

.total-money {
    font-size: 50px;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
    margin-left: auto; 
    margin-right: 0;
    padding-right: 20px;
    padding-left: -40px;
}

.tip-percent > button {
    border-radius: 5px;
    font-family: "Space Mono";
    background-color: hsl(183, 100%, 15%);
    border-style: none;
    color: white;
    font-size: 24px;
    height: 40px;
    width: 30%;
    margin: 5px;
    font-weight: 300;

}

.tip-percent > input{
    border-radius: 5px;
    font-family: "Space Mono";
    border-style: none;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    height: 40px;
    width: 30%;
    margin: 5px;
    background-color: hsl(189, 41%, 97%);
    text-align: end;
    font-weight: bold;
}

.tip-percent > input::placeholder {
    text-align: center;
}

.tip-percent > input:focus {
    outline: none;
    border: 3px solid hsl(172, 67%, 45%);
    border-radius: 5px;
}


.tip {
    display: flex;
    flex-direction: column;
}


.tip-percent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}

.name {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.bill-name {
   color: hsl(186, 14%, 43%);
    font-size: 15px;
    margin-left: 5%;
}

.select-tip {
    color: hsl(186, 14%, 43%);
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10%;
}

.number-people {
    color: hsl(186, 14%, 43%);
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10%;

}

.reset {
    border-radius: 5px;
    font-family: "Space Mono";
    background-color: hsl(172, 76%, 20%);
    border-style: none;
    color: hsl(183, 100%, 15%);
    font-size: 15px;
    height: 40px;
    width: 75%;

    font-weight: bold;
    margin-top: 18%;
    margin-bottom: 10%;
    margin-left: 12.5%;
}

.reset-active {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: bold;
}

.people-title {
    display: flex;
    flex-direction: row;
}

.input-error {
    border: 2px solid red;
    border-radius: 5px;
}

/* CSS for the error message */
.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10%;
    margin-top: 10%;
    display: none; /* Hidden by default */
}

.input-error:focus {
    outline-color: red;
}


